<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBHKINHDO.Properties.Settings.QLBH_KINHDO_DTTConnectionString"
            connectionString="Data Source=DESKTOP-8AHFSP3;Initial Catalog=QLBH_KINHDO_DTT;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>